.hero-section {
    background-image: url('../../assets//images/pexels-jonathan-borba-3316918.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 86vh;
    display: flex;
    align-items: center;
    margin-top: 3.5rem;
}
.hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-inline: 10%;
}
.hero-copy{
    background: rgba(255, 255, 255, 0.8);
    width: 300px;
    padding-inline: 50px;
    height: 300px;
    border-radius: 0.5rem;
}
.socials img{
    display: block;
    margin-bottom: 50px;
}
@media (max-width: 700px) {
    .hero{
        flex-direction: column;
        gap: 2rem;
    }
    .socials img{
        display: inline-block;
        margin: 1rem;
    }
}