.join-section{
    text-align: center;
    margin-bottom: 1rem;
}
.join-content{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-inline: 1rem;
}
.jvideo{
    position: relative;
    width: 400px;
    height: 200px;
    margin: 0;
    padding: 0;
}
.jvideo video{
    width: 95%;
    height: 100%;
    border-radius: 25px;
}
.playbtn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
}
.playbtn i{
    color: brown;
    margin-top: 50%;
}
.jform input{
    display: block;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: rgba(255, 228, 196, 0.5);
    width: 100%;
}
.jform input[type="button"]{
    background-color: brown;
    color: white;
    padding-inline: 40px;
    width: 180px;
}


@media (max-width: 700px) {
    .join-content{
        flex-direction: column;
    }
}